body {
    color: #99aabb;
}

.pfp {
    border-radius: 50%;
    margin-right: 20px;
}

.profile-container {
    padding: 50px;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 25vw;
}

.username {
    font-size: 20px;
    font-weight: bold;
    margin-right: auto;
}