body {
    color: #99aabb;
}

.pfp {
    border-radius: 50%;
    margin-right: 20px;
    /* padding: 50px; */
}

.profile-container {
    padding: 10px;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.username {
    font-size: 20px;
    font-weight: bold;
    margin-right: auto;
}

@media (max-width: 480px) {
    .favorite-movie-list, .movie-list {
      width: 100%;
      gap: 10px;
      justify-content: center;
    }
  
    .movie-card {
      flex: 1 1 100%;
      height: auto;
    }
  }