.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.884);
    color: white;
  }
  
  .main-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .main-nav li {
    display: inline-block;
    margin-right: 20px;
  }

  .header-nav .main-nav li {
    margin: 10px;
  }
  
  .header-nav .main-nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #99AABB;
  }
  
  .header-nav .main-nav a:hover {
    color: #C4CBCA;
  }

  .name-of-app {
    color: #DDF0ED;
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
  }

  .header .app-title {
    font-family: "Montagu Slab", serif; 
  }