.slider {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3440;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    color: white;
  }

.slider span {
    margin: 0 8px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #678;
    transition: background-color 0.3s ease;
}

.slider span.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

.slider span.disabled {
    pointer-events: none;
    color: gray;
}

@media (max-width: 480px) {
    .slider {
      /* flex-direction: column; */
      width: 100%;
    }
  }